body {
	background: rgb(217, 217, 217);
	margin: 0;
	font-family: helvetica;
}

#container {
	width: 750px;
	margin: 0 auto;
	background: white;
	padding: 15px;
}

h1 {
	text-align: center;
	background: rgb(12, 195, 149);
	color: white;
	margin: 0;
	padding: 20px 0;
	font-size: 25px;
}

h2 {
	padding: 20px 0 0 0;
}
.nav {
	display: inline-block;
}

#navigation-bar {
	text-align: center;
}

#maui-container {
	background: fuchsia;
	text-align: center;
	image-rendering: center;
	margin-bottom: 50px;
}


#reykjavik-container {
	background: fuchsia;
	text-align: center;
	image-rendering: center;
	margin-bottom: 50px;
}

#aspen-container {
	background: fuchsia;
	text-align: center;
	image-rendering: center;
	margin-bottom: 50px;
}

