.container {
	margin: 0 auto;
	width: 85%;
}

header {
	background-color: black;
	overflow: hidden;
	text-transform: uppercase;
	padding: 10px 0;
}

header h1 {
	font-size: 35px;
	float: left;
	color: white;
}

header nav {
	float: right;
	margin-top: 8px;
}
 
header nav a {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin-left: 50px;

}

#burger, #mobile-nav {
	display: none;
}

#burger {
	cursor: pointer;
	padding: 5px;
}
#mobile-nav {
	position: absolute;
	width: 100%;
}
#mobile-nav a {
	display: block;
	text-decoration: none;
	background: black;
	color: white;
	border-bottom: 2px darkgrey solid;
	text-align: center;
	padding: 10px;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	
}

@media screen and (max-width: 950px) {

	header nav {
		display: none;
	}
	#burger {
		display: block;
		float: right;
		margin-top: 5px;
	}
}
