html, body {
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}



.coverimage {
	background: url('../images/ocean.png'), no-repeat;
	overflow: auto;
	width: 100%;
	background-size: 100%;
	background-position: center; 
	height: 100vh;

}
header {
	
	
}

body {
	background-color: white;
}

h1	{
	color: white;
	text-align: center;
	font-size: 50px;
	float: left;
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
}

nav {
	float: right;
	margin-top: 10px;
	font-family: 'Source Sans Pro', sans-serif;
}


p {
	font-family: 'Montserrat', sans-serif;
	padding-top: 5px;
	color: white;
	font-size: 30px;
	text-align: center;
	padding: 5px;	
}

.footer {

	background-color: black;
	color: white;
	padding: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}


nav a {
	color: white;
	text-decoration: none;
}

nav a:hover { color: lightgrey;

}


.container {
	background-color: black;
	height: 90px;
	position: fixed;
	width: 100%;
}


.image {
	
	margin:60px 0px;
}
.picture_container {
	margin: 20px;
}
.triangle-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid black;
  background-color: white;
}

#image1 {
	background: url('../images/rose3.png') ;
	overflow: auto;
	background-size: 100%;
	background-position: center; 
	padding-top: 25%;
	width: 25%;
}

#image2 {
	background: url('../images/rose2.png') no-repeat;
	overflow: auto;
	background-size: 100%;
	background-position: center; 
	padding-top: 25%;
	width: 25%;
}

#image3 {
	background: url('../images/rose.png') no-repeat;
	overflow: auto;
	background-size: 100%;
	background-position: center; 
	padding-top: 25%;
	width: 25%;
}

#image4 {
	background: url('../images/tissue.png') no-repeat;
	overflow: auto;
	background-size: 100%;
	background-position: center; 
	padding-top: 25%;
	width: 25%;
}

#image5 {
	background: url('../images/tissue2.png') no-repeat;
	overflow: auto;
	background-size: 100%;
	background-position: center; 
	padding-top: 25%;
	width: 25%;
}

#image6 {
	background: url('../images/tissue3.png') no-repeat;
	overflow: auto;
	background-size: 100%;
	background-position: center; 
	padding-top: 25%;
	width: 25%;
}

#image7 {
	background: url('../images/comfrey.png') no-repeat;
	overflow: auto;
	background-size: 100%;
	background-position: center; 
	padding-top: 25%;
	width: 25%;
}
#image8 {
	background: url('../images/composttea.png') no-repeat;
	overflow: auto;
	background-size: 100%;
	background-position: center; 
	padding-top: 25%;
	width: 25%;
}

#image9 {
	background: url('../images/trichomes.png') no-repeat;
	overflow: auto;
	background-size: 100%;
	background-position: center; 
	padding-top: 25%;
	width: 25%;
}

#about {
	background-color: black;
	width: 100%;
	font-family: 'Merriweather', sans-serif;
	color: white;
	overflow: auto;
	padding: 50px;
	box-sizing: border-box;
}



.tri
{
	display: flex;
	justify-content: center;
}



#mobile-nav {
	display: none;
}

#mobile-nav a {
	display: block;
	text-decoration: none;
	background: black;
	color: white;
	border-bottom: 2px darkgrey solid;
	text-align: center;
	padding: 10px;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
}

#mobile-nav {
	margin-top: 90px;
	position: fixed;
	width: 100%;
}

.pictures {
	display: flex;
	justify-content: space-around;
}

#burger {
	display: none;
	padding: 10px;
	margin-top: 20px;
	cursor: pointer;
}

@media screen and (max-width: 1100px) {

	header nav {
		display: none;
	}
	#burger {
		display: flex;
		justify-content: flex-end;
	}
}
 
li {
	display: inline-block;
	padding-top: 30px;
	padding-right: 30px;
	font-size: 20px;
}

