
* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;

}

.banner {
	background: url('../images/dew.png');
	background-position: center;
	background-size: cover;
	width: 100%;
	min-height: 50vh;
}

.body-text {
	position: relative;
	z-index: 10;
	padding-top: 7rem;
}
	h1 {
		font-family: sans-serif;
		letter-spacing: 0.1rem
		text-transform: uppercase;
		padding-top: 2rem;
	}


	p {
		font-size: 1.2rem;
		font-family: sans-serif;
		color: #777;
		padding: 2rem 0;
		line-height: 2rem;
	}

nav {
	background: none;
	min-height:85px;
	position: fixed;
	width: 100%
	z-index: 20;
	transition: 0.35s all ease;
}
	ul {
		list-style: none;
		padding: 2rem;
		transition: 0.35s all ease;
		}

	li {
		display: inline-block;
		color: black;
		padding: 0 1rem;
		font-family: sans-serif;
	}

	a {
		color: white;
		text-decoration: none;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
	}


.scrolled {
	min-height: 10px
	background: black;
	transition: 0.35s all ease;
}
	ul {
		padding: 1rem 2rem;
		transition: 0.35s all ease;
	}

	li {
		color: white;
		transition: 0.2s all ease-in-out;
	}
















/*html, body {
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
	
	background: url('../images/dew.png');
	overflow: auto;
	width: 100%;
	background-size: 100%;
	background-position: center; 
	height: 400px;
}

body {
	background-color: white;

}

h1	{
	color: white;
	text-align: center;
	font-size: 50px;
	float: left;
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
}

nav {
	float: right;
	margin-top: 10px;
	font-family: 'Source Sans Pro', sans-serif;


}


p {
	font-family: 'Montserrat', sans-serif;
	padding-top: 5px;
	color: black;
	font-size: 30px;
	text-align: center;
	padding: 5px;
	
}


footer {
	clear: both;
	background-color: black;
	color: white;
	padding: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}


nav a {
	color: white;
	text-decoration: none;
}

nav a:hover { color: lightgrey;

}


.container {
	background-color: black;
	height: 90px;
	position: fixed;
	width: 100%;
}


.float-right {
	
	margin-right: 5%;
	float: right;
	border: white solid 5px;
	margin-bottom: 10%;
	margin-top: 10%;
	border-radius: 15%;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid beige;
  clear: both;
  margin-left: 50%;
  background-color: white;
}

#image1 {
	background: url('../images/tissue.png') ;
	overflow: auto;
	background-size: 100%;
	background-position: center; 
	padding-top: 25%;
	width: 25%;
}

#sour-diesel-image:hover {

}
#image2 {
	background: url('../images/rose2.png') no-repeat;
	overflow: auto;
	background-size: 100%;
	background-position: center; 
	padding-top: 25%;
	width: 25%;
}
#image3 {
	background: url('../images/terps.png') no-repeat;
	overflow: auto;
	background-size: 100%;
	background-position: center; 
	padding-top: 25%;
	width: 25%;
}




#about {
	background-color: beige;
	width: 100%;
	font-family: 'Merriweather', sans-serif;
	color: black;
	overflow: auto;
	padding: 50px;
	box-sizing: border-box;
	
	
}

.clear {
	clear: both;
	background-color: white;
}


#mobile-nav {
	display: none;
}


.picture {
	background-color: beige;
	width: 100%;
}


#burger {
	display: none;
	padding: 10px;
	margin-top: 20px;
}

@media screen and (max-width: 1100px) {

	header nav {
		display: none;
	}
	#burger {
		display: block;
		float: right;
	}
}
 
li {
	display: inline-block;
	padding-top: 30px;
	padding-right: 30px;
	font-size: 20px;
}
*/