html, body {
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
	
	background: url('../images/dew.png');
	overflow: auto;
	width: 100%;
	background-size: 100%;
	background-position: center; 
	height: 400px;
}

body {
	background-color: white;

}

h1	{
	color: white;
	text-align: center;
	font-size: 50px;
	float: left;
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
}

nav {
	float: right;
	margin-top: 10px;
	font-family: 'Source Sans Pro', sans-serif;

}


p {
	font-family: 'Montserrat', sans-serif;
	padding-top: 5px;
	color: black;
	font-size: 30px;
	text-align: center;
	padding: 5px;
	
}


footer {
	clear: both;
	background-color: black;
	color: white;
	padding: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}


nav a {
	color: white;
	text-decoration: none;
}

nav a:hover { color: lightgrey;

}


.navbar {
	background-color: black;
	height: 90px;
	position: fixed;
	width: 100%;
}


.float-right {
	
	margin-right: 4%;
	float: right;
	border: white solid 5px;
	margin-bottom: 10%;
	margin-top: 10%;
	border-radius: 15%;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid beige;
  clear: both;
  margin-left: 50%;
  background-color: white;
}

#image1 {
	background: url('../images/tissue.png') ;
	overflow: auto;
	background-size: 100%;
	background-position: center; 
	padding-top: 25%;
	width: 25%;
}

#sour-diesel-image:hover {

}
#image2 {
	background: url('../images/rose2.png') no-repeat;
	overflow: auto;
	background-size: 100%;
	background-position: center; 
	padding-top: 25%;
	width: 25%;
}
#image3 {
	background: url('../images/terps.png') no-repeat;
	overflow: auto;
	background-size: 100%;
	background-position: center; 
	padding-top: 25%;
	width: 25%;
}




.about {
	background-color: beige;
	width: 100%;
	font-family: 'Merriweather', sans-serif;
	color: black;
	overflow: auto;
	padding: 50px;
	box-sizing: border-box;
	
	
}

.clear {
	clear: both;
	background-color: white;
}





.picture {
	background-color: beige;
	width: 100%;
}

